  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
       <!-- User Table -->
       <%- include('../partials/user.table.ejs'); %>
       <!-- Biodata Table -->
       <%- include('../partials/biodata.table.ejs'); %>
       <!-- History Table -->
       <%- include('../partials/history.table.ejs'); %>
    </div>
    <%- include('../partials/scripts.ejs'); %>
  </body>
</html>